<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
 <!DOCTYPE html>
<html>
  <body >
        
    <%- include('./navigation.ejs') %>
        
    <h3>TRABAJO PRACTICO FINAL</h3>
        
  </body>

</html>
