<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
 <!DOCTYPE html>
<html>
  <body >
    <h2>TRABAJO PRACTICO FINAL</h2>  

    <%- include('./navigation.ejs') %>
        
    
        
  </body>

</html>
